{{#obj-username labeltag="username" label="Username" data=loginid}}
{{/obj-username}}
{{#obj-password labeltag="password" label="Password" data=password}}
  {{#display-errors message=messageArray}}{{/display-errors}}
{{/obj-password}}

<div class={{formclass}}>
  <div class={{highlightclass}}>
    <div class={{rowclass}}>
      <div class={{colclass}}></div>
      <div class={{colclasstwo}}>
        <button class={{btnclass}} onclick={{action "submit" newmodel}}>
          {{btnLabel}}
        </button>
      </div>
      <div class={{colclass}}></div>
    </div>
  </div>
</div>
{{yield}}