<div class="sc-pQrCd UJOeB">
  <div class="sc-pkvSM hEwwUM">
    <i
      sizevalue="24px"
      class={{classIcon}}
    >
      {{symbol}}
    </i>
    <p class={{classOne}}>
      {{label}}
    </p>
  </div>
</div>
<div class={{classTwo}}>
  {{#nav-logout}}{{/nav-logout}}
</div>