<div class={{classOne}}>
  <div class={{classTwo}}>
    <div class={{classThree}}>
      <button aria-label="menu" role="button" tabindex="0" class={{classBTN}}>
        <i>
          menu
        </i>
      </button>
    </div>
    <div class={{classFour}}>
      <a onclick={{action "home"}}>
        <img alt="" src="/assets/logo.png" class={{classImage}} />
      </a>
    </div>
  </div>
  <div class={{classFive}}>
    <div class={{classSix}} role="list">
      <a
        class="sc-pdMIc egduZp"
        onclick={{action "mentiongraph" expandmention}}
      >
        <li class="sc-pBzUF eEgcmk sc-puCJS fjuxJx" role="listitem">
          <i
            emphasis="low"
            sizevalue="24px"
            class="rmwc-icon google-material-icons sc-AxgMl cMONfX"
          >
            {{expandmention}}
          </i>
          <p class="sc-fzoiQi sc-fzqARJ sc-qOxXJ fzgPFD">
            Mention Analysis
          </p>
        </li>
        <div class="sc-qQMSE jyKJRd"></div>
      </a>
      {{#if (eq expandmentionshow "true")}}
        <ul class="km-list km-list--dense">
          <a class="sc-pZzYQ jItBJu" onclick={{action "dataformat"}}>
            <li class="sc-pBzUF jZGJoz sc-oTcDH fQBxZa" role="button">
              <p class="sc-fzqNqU sc-fzoyTs sc-paZra jntcrC">
                Data Format
              </p>
            </li>
            <div class="sc-qQMSE jyKJRd"></div>
          </a>
        </ul>
        <ul class="km-list km-list--dense">
          <a class="sc-pZzYQ jItBJu" onclick={{action "mentionhistogram"}}>
            <li class="sc-pBzUF jZGJoz sc-oTcDH fQBxZa" role="button">
              <p class="sc-fzqNqU sc-fzoyTs sc-paZra jntcrC">
                Mention Histogram
              </p>
            </li>
            <div class="sc-qQMSE jyKJRd"></div>
          </a>
        </ul>
        <ul class="km-list km-list--dense">
          <a class="sc-pZzYQ jItBJu" onclick={{action "mentionNetwork"}}>
            <li class="sc-pBzUF jZGJoz sc-oTcDH fQBxZa" role="button">
              <p class="sc-fzqNqU sc-fzoyTs sc-paZra jntcrC">
                Mention Network
              </p>
            </li>
            <div class="sc-qQMSE jyKJRd"></div>
          </a>
        </ul>
        <ul class="km-list km-list--dense">
          <a class="sc-pZzYQ jItBJu" onclick={{action "mentionNetworkWeight"}}>
            <li class="sc-pBzUF jZGJoz sc-oTcDH fQBxZa" role="button">
              <p class="sc-fzqNqU sc-fzoyTs sc-paZra jntcrC">
                Mention Network Weighted
              </p>
            </li>
            <div class="sc-qQMSE jyKJRd"></div>
          </a>
        </ul>
        <ul class="km-list km-list--dense">
          <a class="sc-pZzYQ jItBJu" onclick={{action "mentiontopn"}}>
            <li class="sc-pBzUF jZGJoz sc-oTcDH fQBxZa" role="button">
              <p class="sc-fzqNqU sc-fzoyTs sc-paZra jntcrC">
                Mention Network Top N
              </p>
            </li>
            <div class="sc-qQMSE jyKJRd"></div>
          </a>
        </ul>
        <ul class="km-list km-list--dense">
          <a class="sc-pZzYQ jItBJu" onclick={{action "mentiontime"}}>
            <li class="sc-pBzUF jZGJoz sc-oTcDH fQBxZa" role="button">
              <p class="sc-fzqNqU sc-fzoyTs sc-paZra jntcrC">
                Mention Network Time Graph
              </p>
            </li>
            <div class="sc-qQMSE jyKJRd"></div>
          </a>
        </ul>
      {{/if}}

      <a class={{classA}} onclick={{action "schedule"}}>
        <li class={{classSch}} tabindex="0">
          <i emphasis="low" sizevalue={{sizevalue}} class={{classIcon}}>
            build_circle
          </i>
          <p class="sc-fzqARJ sc-fzqNqU sc-pALIP ctMBeP">
            Job Schedulers
          </p>
          <div class={{classBarSch}}></div>
        </li>
      </a>
    </div>
  </div>
</div>