{{#obj-row-checkbbox
  data=data
  broadcast=broadcast
  objname=objname
  isReadonly=isReadonly
}}{{/obj-row-checkbbox}}
<td>
  {{label}}
</td>
{{#if (eq flag "hr")}}
  <td></td>
{{else if (eq flag "daily")}}
  <td></td>
{{else}}
  {{#object-row-selection
    modelname=modelname
    keyaccess=keyaccess
    isReadonly=isReadonly
    data=dayvalue
  }}{{/object-row-selection}}
{{/if}}

{{#if (not-eq flag "hr")}}
  {{#object-row-selection
    modelname="hour"
    keyaccess="hr"
    isReadonly=isReadonly
    data=hrvalue
  }}{{/object-row-selection}}
{{else}}
  <td></td>
{{/if}}

{{#object-row-selection
  modelname="minute"
  keyaccess="minute"
  isReadonly=isReadonly
  data=minvalue
}}{{/object-row-selection}}
{{#object-row-selection
  modelname="second"
  keyaccess="second"
  isReadonly=isReadonly
  data=secvalue
}}{{/object-row-selection}}

{{yield}}