<div class={{classTwo}}>
  <div class={{classTwo_r}}>
    {{label}}
  </div>
  <div class={{classTwo_b}}>
    {{input
      class=inputClass
      data-min-length="1"
      multiple=""
      data-selection-required="1"
      list=lists
      value=data
      insert-newline=(action "selectedOption" data)
      change=(action "selectedOption" data)
      placeholder=placeholder
    }}
    <datalist id={{lists}}>
      {{#each model as |row|}}
        {{#each-in row._internalModel._data as |key value|}}
          {{#if (eq key keyaccess)}}
            <option value={{value}}>
              {{value}}
            </option>
          {{/if}}
        {{/each-in}}
      {{/each}}
    </datalist>
  </div>
</div>
{{yield}}