<div class={{classTwo}}>
  <div class={{classTwo_r}}>
    {{label}}
  </div>
  <div class={{classTwo_b}}>
    {{input
      class=inputClass
      data-min-length="1"
      multiple=""
      data-selection-required="1"
      list=lists
      value=data
      insert-newline=(action "selectedOption" data)
      change=(action "selectedOption" data)
      placeholder=placeholder
    }}
    <datalist id={{lists}}>
      {{#each (array-helper model keyaccess) as |row|}}
        <option value={{row}}>
          {{row}}
        </option>
      {{/each}}
    </datalist>
  </div>
</div>
{{yield}}