<span class={{spanClass}}>
  <label class={{spanLabelClass}}>
    {{#if (eq data undefined)}}
      <input
        id={{objname}}
        type="checkbox"
        class={{inputClass}}
        name="cheese"
        disabled={{isReadonly}}
        onchange={{action "optionsChecked"}}
      />
    {{else}}
      {{#if (eq data "true")}}
        <input
          id={{objname}}
          type="checkbox"
          class={{inputClass}}
          name="cheese"
          disabled={{isReadonly}}
          onchange={{action "optionsChecked"}}
          checked
        />
      {{else}}
        <input
          id={{objname}}
          type="checkbox"
          class={{inputClass}}
          name="cheese"
          disabled={{isReadonly}}
          onchange={{action "optionsChecked"}}
        />
      {{/if}}
    {{/if}}
    <span class={{spanTargetClass}}></span>
  </label>
</span>