<div class={{classOne}}>
  <div class={{classTwo}}>
    <div class="col-sm-12">
      {{label}}
      {{#if (eq isReadonly true)}}
        <span>
          {{data}}
        </span>
      {{else}}

      {{/if}}
    </div>
  </div>
</div>
{{yield}}