<div class={{classOne}}></div>
<div class={{classOneNew}}>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Contract No
    </div>
    <div class={{classBody}}>
      {{model.contractno}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Loan Name
    </div>
    <div class={{classBody}}>
      {{model.loanname}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Loan Type
    </div>
    <div class={{classBody}}>
      {{model.loantype}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Mortage Type
    </div>
    <div class={{classBody}}>
      {{model.mortagetype}}
    </div>
  </div>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Loan Status
    </div>
    <div class={{classBody}}>
      {{model.loanstatus}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Interest Type
    </div>
    <div class={{classBody}}>
      {{model.interesttype}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Contract Status
    </div>
    <div class={{classBody}}>
      {{model.contractstatus}}
    </div>
  </div>
</div>
<div class={{classOneNew}}>
  <div class={{classRow}}>
    <div class={{classTitle}}>
      Principal Amount
    </div>
    <div class={{classBody}}>
       SLR {{model.principleamount}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Interest Rate
    </div>
    <div class={{classBody}}>
      {{model.interestrate}} %
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Loan Period
    </div>
    <div class={{classBody}}>
        {{model.loanperiod}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Mortage Amout
    </div>
    <div class={{classBody}}>
      SLR {{model.mortageamout}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Emi Amount
    </div>
    <div class={{classBody}}>
      SLR {{model.emiamout}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Arrears Days
    </div>
    <div class={{classBody}}>
      {{model.noofdaysinarrears}}
    </div>
  </div>

  <div class={{classRow}}>
    <div class={{classTitle}}>
      Date of issue
    </div>
    <div class={{classBody}}>
      {{model.dateofissue}}
    </div>
  </div>
</div>