@import "bootstrap";
@import "font";

:root {
  --main-color-or: rgba(0, 176, 240, 1);
  --main-color-new: rgba(0, 112, 192, 1);
  --main-color-red: rgba(0, 112, 192, 1);
  --deep-orange: rgba(0, 84, 147, 1);

  --light-dark-blue:rgb(0,43,130);
  --main-color-light-red: rgba(62, 116, 209, 1);
  --greyblack: rgb(52, 52, 52);
  --main-color-blck: rgba(52, 52, 52, 1);
  --main-color-blck-prog: rgba(52, 52, 52, 0.5);
  --main-color-red-hover: rgba(0, 176, 240, 1);
  --main-color-red-hover-link: rgba(0, 84, 147, 1);
  --nav-scrolled-black:rgba(0, 0, 0, 0.1);
  --white: rgba(235, 235, 235, 1);
  --purewhite: rgba(255, 255, 255, 1);
  --silver: rgb(214, 214, 214, 1);
  --require: rgb(0, 176, 240, 0.2);
  --greylight: rgb(219, 219, 219, 1);
  --grey: rgb(214, 214, 214, 1);
  --grey-lighter: rgb(247, 247, 247, 1);
  --grey-dark: rgb(228, 228, 228, 1);
  --grey-darkest: rgb(191, 191, 191, 1);
  --nikel: rgb(146, 146, 146, 1);
  --steel: rgb(121, 121, 121, 1);
  --tungstun: rgb(66, 66, 66, 1);
  --pureblack: rgb(0, 0, 0, 1);
  --bgwhite: rgb(248, 249, 250);
  --grey-new:rgb(255,128,0);
  --nav-link-tab: #dee2e6;
  --nav-color: #495057;
  --nav-tab-bg-color: var(--purewhite);
  --nav-tab-border-color-1: #dee2e6;
  --nav-tab-border-color-2: var(--nav-tab-border-color-1);
  --nav-tab-border-color-3: var(--purewhite);
  // --blue-zapper:#005CB9;
  --link:#20beff;
  --link-two:#008abc;
  --link-bg:rgba(32,190,255,.05);
  --deep-dark-blue:rgb(0,32,96);
  --deep-dark-blue-dis-two:rgba(0,32,96,0.4);
  --deep-dark-blue-dis:rgb(0,32,96,0.5);
  --blue-zapper:var(--deep-dark-blue);
  --blue-zapper-dis:var(--deep-dark-blue-dis-two);
  --blue-zapper-two:#21a5fd;
  --light-zapper-green:#8fc74b;
  --darkest-zapper-blue:#002040;
  --orange-zapper:#faaf40;
  --red-zapper:#e83333;
  --input-zapper:#ccc;
  --input-color-zapper:#666;
  --zaper-grey:#999;
  --zapper-merchant-nav:#1a1f71;
  --zapper-orange: #f7b600;
  --zapper-darkest-grey:#5C5C5C;
  --zapper-content:#eff1f2;
  --zapper-content-color:#3E3A39;
  --kaggle-nav-border:rgb(218, 220, 224);
  --kaggle-btn-nav-col:rgb(32, 33, 36);
  --kaggle-btn-bg-white:rgb(239, 239, 239);
  --kaggle-btn-bg-black:rgb(59, 59, 59);
  --kaggle-border-btn-one:rgb(118, 118, 118);
  --kaggle-border-btn-two: rgb(133, 133, 133);
  --kaggle-non-selected:rgb(241, 243, 244);
  --kaggle-non-selected-color: rgb(95, 99, 104);
  --kaggle-sasdasd:var(--kaggle-btn-nav-col);
  --kaggle-btn-bg-color: var(--blue-zapper);
  --kaggle-banner:rgb(248, 249, 250);
  --kaggle-dhfine:rgba(0, 0, 0, 0.7);
  --kaggle-table-outline:rgb(236, 236, 237);
  --kaggle-new-black:rgba(0,0,0,.7);
  --kaggle-new-black-two:rgba(0, 0, 0, 0.4);
  --kaggle-new-white:#fbfbfb;
  --kaggle-new-gr:#dedfe0;
  --kaggle-new-other-white:rgb(222, 223, 224);
  --kaggle-new-gr-two:rgba(222,223,224,.5);
  
  --kaggle-content-box__title-bar_white:var(--kaggle-new-white);
  --kaggle-content-box__title-bar_border:var(--kaggle-new-gr);
  --kaggle-content-box__title-gr-two:var(--kaggle-new-gr-two);
  --kaggle-content-box-new-gr:var(--kaggle-new-gr);
  --col-loading-background:var(--kaggle-non-selected);
  
  --col-kaggle-new-black-two:var(--kaggle-new-black-two);
  --col-kaggle-new-black-three:var(--kaggle-new-black-two);
  --kaggle-iysdf:var(--kaggle-btn-nav-col);
  --kaggle-table-table-one:var(--purewhite);
  --kaggle-table-table-two:var(--kaggle-table-outline);
  --kaggle-content-box:var(--kaggle-new-black);
  --kaggle-content-box-kjsd:var(--kaggle-new-black);
  --kaggle-content-box-kjsdj:var(--kaggle-new-black);
  --mdc-theme-on-primary: #fff;
  --mdc-theme-on-surface: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-primary: #20BEFF;
  --mdc-theme-error: #F58B8A;
  --mdc-theme-background: #F8F8F8;
  --mdc-theme-surface: #fff;
  --mdc-theme-primary-bg: #20BEFF;
  --mdc-theme-secondary-bg: #919294;

  --col-sidenav: var(--main-color-blck);
  --col-bk-progress: var(--main-color-blck-prog);
  --col-sidenav-white: var(--white);
  --col-navbar-default-orange: var(--main-color-or);
  --col-navbar-default-red: var(--main-color-red);
  --col-navbar-default-navbar-nav-li-a-white: var(--white);
  --col-staticnav-purewhite: var(--purewhite);
  --col-staticnav-silver: var(--silver);
  --col-navbar-defaul-navbar-brand-navbar-custom-navbar-text-white: var(--white);
  --col-body-white: var(--purewhite);
  --col-icon-bar-greyblack: var(--greyblack);
  --col-navbar-brand-a-hover: var(--main-color-blck);
  --col-navbar-collapse-a-hover: var(--main-color-blck);
  --col-ul-li-a-hover: var(--main-color-red-hover);
  --col-breadcrumb-purewhite: var(--purewhite);
  --col-ol-silver: var(--silver);
  --col-btn-primary-white: var(--white);
  --col-btn-primary-blck: var(--main-color-blck);
  --col-btn-secondary-red-hover: var(--main-color-red-hover);
  --col-btn-secondary-white: var(--white);
  --col-btn-primary-purewhite: var(--purewhite);
  --col-btn-primary-background-color-or: var(--main-color-or);
  --col-btn-primary-background-color-red: var(--main-color-red);
  --col-btn-primary-background-color-deep-orange: var(--main-color-light-red);
  --col-btn-secondary-main-color-blck: var(--main-color-blck);
  --col-btn-secondary-bg-purewhite: var(--purewhite);
  --col-active-pink-2-input-search-hover-red: var(--main-color-red-hover);
  --col-active-pink-2-input-search-purewhite: var(--purewhite);
  --col-active-pink-2-input-search-border-red: var(--main-color-light-red);
  --col-btn-span: var(--nikel);
  --col-btn-span-hover: var(--main-color-or);
  --col-btn-span-white: var(--white);
  --col-code-title: var(--greyblack);

  --col-icon-main-color-light-red: var(--main-color-light-red);
  --col-breadcrumb-item-main-color-or: var(--main-color-or);
  --col-borrolink-main-color-or: var(--light-dark-blue);

  --col-dropdown-divider-silver: var(--silver);
  --col-o_menu_item-a-greyblack: var(--greyblack);
  --col-o_menu_item-a-hover-or: var(--main-color-or);

  --col-input-required-bangi: var(--require);
  --col-select-required-bangi: var(--require);
  --col-select-required-border-or: var(--main-color-or);
  --col-input-txt-purewhite: var(--purewhite);
  --col-input-txt-white: var(--greylight);
  --col-input-txt-focus-border-greyblack: var(--main-color-or);
  --col-input-txt-focus-border-deeporange: var(--main-color-light-red);
  --col-input-txt-focus-or: var(--main-color-or);

  --col-o_horizontal_separator-or: var(--main-color-or);
  --col-o_horizontal_separator-deep-or: var(--deep-orange);
  --col-o_external_button-purewhite: var(--purewhite);
  --col-o_external_button-or: var(--main-color-or);
  --col-o_external_button-hover-greyblack: var(--greyblack);
  --col-o-td-label-silver: var(--silver);

  --col-footer-or: var(--main-color-or);
  --col-footer-white: var(--white);
  --col-footer-bg-hover-greyblack: var(--greyblack);
  --col-footerdiscard-purewhite: var(--purewhite);
  --col-footerdiscard-hover-or: var(--main-color-or);
  --col-footerdiscard-hover-white: var(--white);
  --col-main-color-new: var(--main-color-new);
  --col-margin-nav-lighgrey: var(--greylight);

  --col-breadcrump1-bg-color: var(--kaggle-non-selected);
  --col-breadcrump1-a-bg-color: var(--purewhite);
  --col-breadcrump1-a-font-color: var(--kaggle-dhfine);
  --col-breadcrump1-a-font-invite-color: var(--light-dark-blue);

  --col-breadcrump1-a-hover-bg-color: var(--main-color-red);
  --col-breadcrump1-a-hover-font-color: var(--purewhite);
  --col-table-o-list-view-bg-color: var(--pureblack);
  --col-table-o-list-view-header-color: var(--grey-darkest);

  --col-table-stripped-row-color: var(--grey-lighter);
  --col-table-stripped-odd-row-color: var(--grey-dark);
  --col-bglight-color: var(--bgwhite);
  --col-link-color: var(--light-dark-blue);
  --col-inbox-checkbox: var(--main-color-or);
  --col-nav-link-tab: var(--nav-link-tab);

  --col-nav-color: var(--nav-color);
  --col-nav-tab-bg-color: var(--nav-tab-bg-color);
  --col-nav-tab-border-color-1: var(--nav-tab-border-color-1);
  --col-nav-tab-border-color-2: var(--nav-tab-border-color-2);
  --col-nav-tab-border-color-3: var(--nav-tab-border-color-3);
  --col-next: var(--nike);
  --col-nav-newhome:var(--purewhite);
  --col-nav-black:var(--nav-scrolled-black);
  --col-li-col: var(--blue-zapper);
  --col-btn:var(--blue-zapper);
  --col-border:var(--blue-zapper);
  --col-font:var(--blue-zapper);
  --sectiontwo-bg:var(--blue-zapper);
  --sectionone-bg:var(--blue-zapper-two);
  --col-bg-blue:var(--blue-zapper);
  --setionthree-bg:var(--light-zapper-green);
  --setionfour-bg:var(--darkest-zapper-blue);
  --sectionfive-bg:var(--blue-zapper);
  --sectionsix-bg:var(--blue-zapper-two);
  --sectionseven-bg:var(--orange-zapper);
  --sectioneight-bg:var(--red-zapper);
  --sectionten-bg:var(--blue-zapper);
  --form-label:var(--blue-zapper);
  --col-zaper-grey-check:var(--zaper-grey);
  --col-zapper-merchant-nav:var(--zapper-merchant-nav);
  --col-zapper-orange:var(--zapper-orange);
  --col-shawdow-main:rgba(0,0,0,.1);
  --col-zapper-darkest-grey:var(--zapper-darkest-grey);
  --col-shawdow-main-merchant:rgba(0,0,0,.2);
  --col-kaggle-nav-border:var(--kaggle-nav-border);
  --col-kaggle-btn-nav-col:var(--kaggle-btn-nav-col);
}

@font-face {
  font-family:visa-font;
  src:url(https://cdn.visa.com/cdn/assets/fonts/types/OpenSans-Light.woff)
 }

 

@media only screen and (max-width: 600px) {
  .navbar-default {
    background-image: linear-gradient(to right, var(--col-navbar-default-orange), var(--col-navbar-default-red));
  }

  .navbar-brand {
    font-size: 20px;
    line-height: 28px;
    font-weight: 900;
    cursor: pointer;
  }

  .breadcrumb1 {
    background-color: var(--col-breadcrump1-bg-color);
    display: inline-block;
    padding: 1px;
    padding-right: 18px;
  }

  input.required {
    background-color: var(--col-input-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    padding-right: 20px;
    width: 100%;
  }

  select.required {
    background-color: var(--col-select-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 350px;
    padding: 1px;
  }

  .staticnav-new {
    height: 200px;
    background-color: var(--col-staticnav-purewhite);
    border-bottom: 0.01px solid var(--col-staticnav-silver);
  }

  .margin-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    border-top: 1px solid var(--col-margin-nav-lighgrey);
  }

  select.required:focus {
    background-color: var(--col-select-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 350px;
    padding: 1px;
    border-top: 1px solid var(--col-select-required-bangi);
    border-left: 1px solid var(--col-select-required-bangi);
    border-right: 1px solid var(--col-select-required-bangi);
    border-radius: 1px;
    border-bottom: 2px solid var(--col-select-required-border-or);
    box-shadow: 0 2px 0 0 var(--col-select-required-border-or);
  }

  input.input-txt {
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(---col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-white);
    box-shadow: 0 1px 0 0 var(--col-input-txt-white);
    height: 25px;
    width: 350px;
  }

  input.input-txt:focus {
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(--col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
    box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
    height: 25px;
    width: 350px;
  }

  .modal {
    margin-top: 100px;
  }

  .o_dropdown_menu {
    min-width: calc(40vh - 200px);
    overflow: auto;
  }

  .d-sm-inline {
    display: inline !important;
  }

  .navbar .navbar-nav > li > a {
    line-height: 28px;
    color: var(--col-navbar-default-navbar-nav-li-a-white);
    font-size: 15px;
    line-height: 30px;
    font-weight: 900;
    cursor: pointer;
  }

  .mainpanel {
    margin-top: 30px;
  }

  .sidenav {
    display: none;
  }

  .staticnav {
    height: 240px;
    background-color: var(--col-staticnav-purewhite);
    border-bottom: 0.01px solid var(--col-staticnav-silver);
  }

  .breadcrumb1 {
    background-color: var(--col-breadcrump1-bg-color);
    display: inline-block;
    position: absolute;
    right: 40px;
    padding: 1px;
    padding-right: 18px;
  }
}

@media (min-width: 601px) {
  .mainpanel {
    margin-top: 10px;
  }

  .breadcrumb1 {
    background-color: var(--col-breadcrump1-bg-color);
    display: inline-block;
    position: absolute;
    right: 50px;
    padding: 1px;
    padding-right: 18px;
  }

  .containerfooter {
    max-width: 1140px;
  }

  .navbar .o_menu_systray > li > a {
    line-height: 28px;
    color: var(--col-navbar-default-navbar-nav-li-a-white);
    font-size: 15px;
    line-height: 30px;
    font-weight: 900;
    cursor: pointer;
  }

  ul.o_menu_systray {
    float: right;
  }

  .modal {
    margin-top: 30px;
  }

  .modal-dialog {
    width: 1000px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
  }

  .navbar-default {
    background-image: linear-gradient(to right, var(--col-navbar-default-orange), var(--col-navbar-default-red));
    min-height: 30px;
    height: 30px;
  }

  .o_dropdown_menu {
    min-width: calc(40vh - 200px);
    overflow: auto;
  }

  .navbar-brand {
    padding: 0 15px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 900;
    cursor: pointer;
  }

  .staticnav {
    height: 100px;
    background-color: var(--col-staticnav-purewhite);
    border-bottom: 0.01px solid var(--col-staticnav-silver);
  }

  .staticnav-new {
    height: 140px;
    background-color: var(--col-staticnav-purewhite);
    border-bottom: 0.01px solid var(--col-staticnav-silver);
  }

  .margin-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding-top: 7px;
    border-top: 1px solid var(--col-margin-nav-lighgrey);
  }

  .navbar .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 28px;
    color: var(--col-navbar-default-navbar-nav-li-a-white);
    font-size: 15px;
    line-height: 30px;
    font-weight: 900;
    cursor: pointer;
  }

  input.required {
    background-color: var(--col-input-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 400px;
  }

  input.required-two-rt {
    background-color: var(--col-input-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    padding-left:20px;
    width: 100%;
  }


  select.required {
    background-color: var(--col-select-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 400px;
    padding: 1px;
  }

  select.required:focus {
    background-color: var(--col-select-required-bangi);
    border: none !important;
    border-radius: 1px;
    height: 25px;
    width: 400px;
    padding: 1px;
    border-top: 1px solid var(--col-select-required-bangi);
    border-left: 1px solid var(--col-select-required-bangi);
    border-right: 1px solid var(--col-select-required-bangi);
    border-radius: 1px;
    border-bottom: 2px solid var(--col-select-required-border-or);
    box-shadow: 0 2px 0 0 var(--col-select-required-border-or);
  }

  input.input-txt {
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(---col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-white);
    box-shadow: 0 1px 0 0 var(--col-input-txt-white);
    height: 25px;
    width: 400px;
  }

  input.input-txt:focus {
    border-top: 1px solid var(--col-input-txt-purewhite);
    border-left: 1px solid var(--col-input-txt-purewhite);
    border-right: 1px solid var(--col-input-txt-purewhite);
    border-radius: 1px;
    border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
    box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
    height: 25px;
    width: 400px;
  }

  .sidenav {
    display: block;
    padding: 0px;
    height: 1000vh;
    background-color: var(--col-sidenav);
    overflow-y: scroll;
    cursor: pointer;
    color: var(--col-sidenav-white);
  }

  .dropdown-menu {
    -webkit-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    transform: rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    display: block;
    width: 100%;
    max-width: 100px;
    border: none;
  }

  .option {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 2px 29px;
    margin: 0;
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 4 em;
    line-height: 1.8em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    padding: 2px 10px;
    background-color: inherit;
    margin: 0;
  }

  .open .dropdown-menu {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
    width: 100%;
    border: none;
  }

  .fa-caret-up {
    float: left;
    padding-top: 4px;
    padding-right: 10px;
  }

  .fa-caret-down {
    float: left;
    padding-top: 4px;
    padding-right: 10px;
  }
}

ul {
  padding-left: 0px;
  list-style: none;
}

.navbar-default .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--col-navbar-defaul-navbar-brand-navbar-custom-navbar-text-white);
}

.icon-bar {
  background: var(--col-icon-bar-greyblack) !important;
  height: 3px !important;
}

body {
  font-family:Inter,sans-serif;
  background-color: var(--purewhite);
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

.image-logo {
  width: 100%;
  max-width: 25px;
  object-fit: cover;
  padding: 3px;
}

.margin-top {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0px;
}

.navbar-brand a:hover {
  color: var(--col-navbar-brand-a-hover);
}

.navbar-collapse a:hover {
  color: var(--col-navbar-collapse-a-hover);
}

ul li:hover {
  color: var(--col-ul-li-a-hover);
}

.margin {
  margin-top: 25px;
}

.margin-login {
  margin-top: 100px;
}

.breadcrumb {
  background-color: var(--col-breadcrumb-purewhite);
}

.bg-light {
  background-color: var(--col-bglight-color) !important;
}

.breadcrumb {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 0;
  list-style: none;
  border-radius: 3px;
  font-family: "Open Sans";
}

.breadcrumb>.active {
  color: var(--tungstun);
  font-size: 18px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

.oe_login_form {
  max-width: 300px;
  position: relative;
  margin: 50px auto;
}

.list-unstyled {
  list-style: none;
}

.pt16 {
  padding-top: 16px !important;
}

.pt-0 {
  padding: 2px !important;
}

.pb8 {
  padding-bottom: 8px !important;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  text-align: start;
  appearance: textfield;
  -webkit-rtl-ordering: logical;
  cursor: text;
  font: 400 13.3333px Arial;
}

input {
  margin: 0;
  font-family: inherit;
}

input[type="password"i] {
  -webkit-text-security: disc !important;
}

.clearfix::after {
  display: block;
  clear: both;
  content: "";
}

.btn-block {
  display: block;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.btn1 {
  width: 30px;
  height: 30px;
  padding: 20px;
}

.asset-image-preview {
  max-height: 200px;
  height: 100%;
  object-fit: contain;
}

.asset-image-preview-view {
  max-width: 400px;
  width: 100%;
  object-fit: contain;
}

.asset-image-preview-view-2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 400px;
  height: 100%;
  object-fit: contain;
}

.asset-image-preview-table {
  max-height: 40px;
  height: 100%;
  padding: 1px;
  object-fit: contain;
}

.asset-image-preview-2 {
  max-height: 100px;
  height: 100%;
  object-fit: contain;
}

.text-center {
  text-align: center !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  font-size: 20px;
  font-weight: 500;
  color: var(--col-ol-silver);
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

.padding-0 {
  padding-right: 0;
  padding-left: 0;
}

.padding-2 {
  padding-right: 5px;
  padding-left: 5px;
}

.padding-right {
  padding-right: 10px;
}

.margin-right {
  margin-right: 10px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: var(--col-btn-primary-white) !important;
  border-color: var(--col-btn-primary-white) !important;
  color: var(--col-btn-primary-blck) !important;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background-color: var(--col-btn-secondary-red-hover) !important;
  border-color: var(--col-btn-secondary-red-hover) !important;
  color: var(--col-btn-secondary-white) !important;
}

.btn-primary {
  color: var(--col-btn-primary-purewhite);
  background-color: var(--col-btn-primary-background-color-or);
  border-color: var(--col-btn-primary-background-color-or);
}

.btn-primary-red {
  color: var(--col-btn-primary-purewhite);
  background-color: var(--col-btn-primary-background-color-red);
  border-color: var(--col-btn-primary-background-color-red);
}

.btn-primary-deep-orange {
  color: var(--col-btn-primary-purewhite);
  background-color: var(--col-btn-primary-background-color-deep-orange);
  border-color: var(--col-btn-primary-background-color-deep-orange);
}

.btn-primary-red:hover,
.btn-primary-red:focus,
.btn-primary-red:active {
  background-color: var(--col-btn-primary-white) !important;
  border-color: var(--col-btn-primary-white) !important;
  color: var(--col-btn-primary-blck) !important;
}

.btn-primary-deep-orange:hover,
.btn-primary-deep-orange:focus,
.btn-primary-deep-orange:active {
  background-color: var(--col-btn-primary-white) !important;
  border-color: var(--col-btn-primary-white) !important;
  color: var(--col-btn-primary-blck) !important;
}

.confirm {
  height: 30px;
  width: 100px;
  padding-left: 10px;
}

.confirm2 {
  height: 30px;
  width: 50px;
  border-style: none; 
}

.iconplaycolor{
  background-color: var(--blue-zapper);
}
.confirm3 {
  height: 30px;
  width: 50px;
  margin-left: 10px;
}

.o_searchview .o_searchview_input_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.o_searchview .o_searchview_input_container .o_searchview_autocomplete {
  position: absolute;
  top: 100%;
  left: auto;
  bottom: auto;
  right: auto;
  width: 100%;
}

.o_list_button_add {
  margin-top: 10px;
}

.o_button_import {
  margin-top: 10px;
}

.btn {
  border-radius: 0px;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;

  padding: 0.375rem 0px 0.75rem;
  font-size: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

button,
input {
  overflow: visible;
}

.btn-secondary {
  border: none;
  margin-left: 4px;
  font-size: 16px;
}

.btn-secondary {
  color: var(--col-btn-secondary-main-color-blck);
  background-color: var(--col-btn-secondary-bg-purewhite);
  border-color: var(--col-btn-secondary-bg-purewhite);
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

// button,
// select {
//   text-transform: none;
// }

// button {
//   -webkit-writing-mode: horizontal-tb !important;
//   text-rendering: auto;
//   letter-spacing: normal;
//   word-spacing: normal;
//   text-indent: 0px;
//   text-shadow: none;
//   align-items: flex-start;
//   cursor: default;
//   font: 400 13.3333px Arial;
// }

.o_cp_searchview {
  width: 50%;
  min-height: 30px;
}

.active-pink-2 input.search:focus:not([readonly]) {
  border-bottom: 1px solid var(--col-active-pink-2-input-search-hover-red);
  border-radius: 1px;
  box-shadow: 0 1px 0 0 var(--col-active-pink-2-input-search-hover-red);
}

.active-pink input.search {
  border-top: 1px solid var(--col-active-pink-2-input-search-purewhite);
  border-left: 1px solid var(--col-active-pink-2-input-search-purewhite);
  border-right: 1px solid var(--col-active-pink-2-input-search-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-active-pink-2-input-search-border-red);
  box-shadow: 0 1px 0 0 var(--col-active-pink-2-input-search-border-red);
}

.icon {
  padding: 10px;
  color: var(--col-icon-main-color-light-red);
  min-width: 50px;
  text-align: center;
}

.breadcrumb-item {
  color: var(--col-breadcrumb-item-main-color-or);
}



.borrolink {
  color: var(--col-borrolink-main-color-or);
  cursor: pointer;
}

.show {
  display: block;
  margin-top: 5px;
  margin-left: 5px;
  cursor: pointer;
  padding: 5px;
}

.o_control_panel .o_search_options > div > .btn-group {
  max-width: 33%;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid var(--col-dropdown-divider-silver);
}

.o_menu_item {
  margin: 0 0 0 5px;
  padding: 10px;
}

.o_menu_item a {
  color: var(--col-o_menu_item-a-greyblack);
  font-size: 15px;
}

.o_menu_item a:hover {
  color: var(--col-o_menu_item-a-hover-or);
  border: 0px;
}

.dropdown-toggle::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}

input.required:focus {
  border-bottom: 1px solid var(--col-input-txt-focus-or);
  border-radius: 1px;
  box-shadow: 0 0 5px var(--col-input-txt-focus-or);
  height: 25px;
}

.o_form_label {
  font-weight: 400;
  padding-right: 50px;
  padding-top: 2px;
  font-size: 16px;
}

td.o_td_label {
  width: 0%;
  padding: 0 10px 0 0;
}

.o_horizontal_separator {
  color: var(--col-o_horizontal_separator-or);
  font-weight: bold;
}

.o_horizontal_separator {
  font-size: 20px;
  margin: 5px 0;
}

.o_horizontal_separator-deep-or {
  font-size: 20px;
  margin: 5px 0;
}

.o_horizontal_separator-deep-or {
  color: var(--col-o_horizontal_separator-deep-or);
  font-weight: bold;
}

.o_external_button {
  font-size: 19px;
  color: var(--col-o_external_button-or);
  background-color: var(--col-o_external_button-purewhite);
}

.o_external_button:hover {
  color: var(--col-o_external_button-hover-greyblack);
  border: none;
}

.ui-autocomplete .ui-menu-item.o_m2o_dropdown_option {
  padding-left: 20px;
}

.o_external_button:focus {
  color: var(--col-o_external_button-hover-greyblack);
  border: none;
}

.o_td_label {
  border-right: 1px solid var(--col-o-td-label-silver);
}

.padding-left {
  padding-left: 7px;
  padding-right: 0px;
}

.padding-1 {
  padding-left: 0px;
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}

.modal-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.modal {
  position: absolute;
  z-index: 2000;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modal-footer {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: left;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.footer {
  width: 100px;
  background-color: var(--col-footer-or);
  color: var(--col-footer-white);
}

.footer:hover {
  width: 100px;
  background-color: var(--col-footer-white);
  color: var(--col-footer-bg-hover-greyblack);
}

.footerdiscard {
  width: 100px;
  background-color: var(--col-footerdiscard-purewhite);
}

.footerdiscard:hover {
  width: 100px;
  background-color: var(--col-footerdiscard-hover-or);
  color: var(--col-footerdiscard-hover-white);
}

.breadcrumb1 a {
  display: inline-block;
  color: var(--col-breadcrump1-a-font-color);
  background-color: var(--col-breadcrump1-a-bg-color);
  padding: 5px 30px 5px 30px;
  position: 6elative;
  min-width: 50px;
  text-decoration: none;
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%, 15px 50%);
  margin-right: -17px;
}

.breadcrumb1 a#last {
  -webkit-clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
  clip-path: polygon(0 0, calc(100% - 0px) 0, 100% 50%, calc(100% - 0px) 100%, 0 100%, 15px 50%);
}

.breadcrumb1 a#invite-breadcrumb {
  color: var(--col-breadcrump1-a-font-invite-color);
  background-color: var(--col-breadcrump1-bg-color);
}

.breadcrumb1 a:hover {
  color: var(--col-breadcrump1-a-hover-font-color);
  background-color: var(--col-breadcrump1-a-hover-bg-color);
}

.breadcrumb1 a:first-child {
  -webkit-clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
  clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 50%, calc(100% - 15px) 100%, 0 100%);
  padding-left: 20px;
}

.label {
  height: 100%;
  width: 100%;
}

.o_list_view {
  position: relative;
  cursor: pointer;
  background-color: var(--col-table-o-list-view-bg-color);
  margin-bottom: 0px;
  border-collapse: initial;
  border-spacing: 0;
}

.table-responsive {
  width: 99%;
}
.table-responsive .o_list_view thead tr:nth-child(1) th,
.o_list_view.table thead > tr > th.o_column_sortable:hover {
  background-color: var(--col-table-o-list-view-header-color);
}

.new .o_list_view thead tr:nth-child(1) th,
.o_list_view.table thead > tr > th.o_column_sortable:hover {
  background-color: var(--col-table-o-list-view-header-color);
}

.new2 .o_list_view thead tr:nth-child(1) th,
.o_list_view.table thead > tr > th.o_column_sortable:hover {
  background-color: var(--col-table-o-list-view-header-color);
}

.o_column_sortable_1 {
  background-color: var(--col-table-o-list-view-header-color);
}

.new {
  height: 400px;
  overflow: auto;
}

.new2 {
  height: 400px;
  width: 100%;
  overflow: auto;
}
.table-new {
  height: 100px;
  width: 100%;
  overflow-x: auto;
}

.table-new-2 {
  height: 100px;
  width: 100%;
  overflow-x: auto;
}

.tagtd {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(---col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-white);
  box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  width: 100%;
  height: 25px;
}

.tagtd:focus {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(--col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
  box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
  height: 25px;
}

.tagstotal {
  height: 50px;
  overflow-x: auto;
}

tr:nth-child(even) {
  background-color: var(--col-table-stripped-row-color);
}

.table-responsive .o_list_view tbody tr:nth-child(odd) td,
.o_list_view.table tbody {
  background-color: var(--col-table-stripped-odd-row-color);
}

.o_list_view .o_column_sortable {
  position: relative;
  user-select: none;
  font-family: FontAwesome;
  font-size: 15px;
}

.o_list_view .o_column_sortable:not(:empty)::after {
  margin-left: 6px;
}

.o_list_view .o_column_sortable::after {
  content: "\f0d7";
  opacity: 0;
}

.link {
  color: var(--col-link-color);
}

.hidden {
  display: none;
}

.unhide {
  display: block;
}

span.bigcheck-target {
  font-family: FontAwesome;
}

input[type="checkbox"].bigcheck {
  display: none;
}

input[type="checkbox"].bigcheck + span.bigcheck-target {
  color: var(--col-inbox-checkbox);
  font-size: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

input[type="checkbox"].bigcheck + span.bigcheck-target:after {
  content: "\f096";
}

input[type="checkbox"].bigcheck:checked + span.bigcheck-target:after {
  content: "\f046";
}

span.bigcheck {
  display: block;
}

.rankselection {
  background-color: var(--col-select-required-bangi);
  border: none !important;
  border-radius: 1px;
  height: 25px;
  width: 100%;
  padding: 1px;
}

.input-txt-table {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(---col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-white);
  box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  width: 100%;
  height: 25px;
}

.input-txt-table:focus {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(--col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-focus-border-greyblack);
  box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-greyblack);
  height: 25px;
}

.input-txt-table-deep-orange {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(---col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-white);
  box-shadow: 0 1px 0 0 var(--col-input-txt-white);
  width: 100%;
  height: 25px;
}

.input-txt-table-deep-orange:focus {
  border-top: 1px solid var(--col-input-txt-purewhite);
  border-left: 1px solid var(--col-input-txt-purewhite);
  border-right: 1px solid var(--col-input-txt-purewhite);
  border-radius: 1px;
  border-bottom: 1px solid var(--col-input-txt-focus-border-deeporange);
  box-shadow: 0 1px 0 0 var(--col-input-txt-focus-border-deeporange);
  height: 25px;
}

input.required-3 {
  background-color: var(--col-input-required-bangi);
  border: none !important;
  border-radius: 1px;
  height: 25px;
  width: 100%;
}

input.required-3:focus {
  border-bottom: 1px solid var(--col-input-txt-focus-or);
  border-radius: 1px;
  box-shadow: 0 0 5px var(--col-input-txt-focus-or);
}

.o_notebook {
  clear: both;
  margin-top: 10px;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-tabs {
  border-bottom: 1px solid var(--col-nav-link-tab);
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  text-align: -webkit-match-parent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: var(--col-nav-color);
  background-color: var(--col-nav-tab-bg-color);
  border-color: var(--col-nav-tab-border-color-1) var(--col-nav-tab-border-color-2) var(--col-nav-tab-border-color-3);
}

.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--main-color-or);
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.o_notebook .tab-content > .tab-pane {
  padding: 16px 0;
}

.tab-content > .active {
  display: block;
}

.margin-top-tab {
  margin-top: 10px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--col-bk-progress);
  z-index: 2;
}

.image-logo-copy {
  width: 100%;
  max-width: 200px;
  object-fit: cover;
  padding: 3px;
  margin-bottom: 10px;
}

.margin-box {
  margin: 10px;
}

.margin-box-two {
  margin: 0px;
}

.px-0 {
  padding: 0px;
}

#recTable tr {
  height: 10px;
}

#myProgress {
  width: 98.5%;
  background-color: var(--col-loading-background);
}

#myBar {
  width: 0%;
  height: 30px;
  background-image: linear-gradient(to right, var(--col-navbar-default-orange), var(--col-navbar-default-red));
  text-align: center;
  line-height: 30px;
  color: var(--purewhite);
}

.padding-1 {
  padding: 10px;
}

.link-margin {
  margin-bottom: 5px;
}

.list-two {
  margin-left: 10px;
}

.rowmarginmain {
  margin-top: 7px;
  padding: 5px;
  margin-left: 6px;
  margin-right: 6px;
  border: 1px dashed var(--border-bottom) !important;
}

.rowheader {
  margin-bottom: 2px;
  padding: 5px;
  margin-left: 6px;
  margin-right: 6px;
  border-bottom: 2px dashed var(--border-bottom-main) !important;
}
.logbox {
  margin: 2px;
}

.logfont {
  font-weight: 700;
}

.margintop {
  margin-top: 20px;
}

.selected {
  font-size: 30px;
  font-weight: 800;
  color: var(--tungstun);
}
.padd-pagin {
  margin: 10px;
}

.textbody {
  height: 50px;
  overflow: scroll;
}

.textbody {
  user-select: none;
}

.textbody {
  user-select: none;
}

.textbody {
  -moz-user-select: none;
}

.textbody {
  -webkit-user-select: none;
}
.textbody {
  -webkit-touch-callout: none;
}

.textbody {
  -ms-user-select: none;
}



#login {
  background: var(--purewhite);
  position: absolute;
}

#login, #login .fixed-bg {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.test{
  z-index: 100;
  background-color: var(--purewhite);
}
#login .merchant-login {
  z-index: 2;
  width: 25%;
  margin: 0 auto;
  background: var(--purewhite);
}

#login .check-login, #login .form-group, #login .merchant-login {
  position: relative;
}

#login .fixed-bg {
  background-image: url(../assets/images/waves.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: auto 180px;
  position: fixed;
  z-index: 1;
  min-height: 700px;
}

#login .branding {
  text-align: center;
  margin: 0 0 35px;
}


 .branding .dKCOua {
  background-color: var(--purewhite);
  position: relative;
}

.branding  .hFTajN {
    display: grid;
    grid-template-columns: repeat(5, minmax(300px, 1fr));
    grid-template-rows: repeat(4, minmax(300px, 1fr));
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 0;
}

.fCvNXI {
  grid-column-start: 1;
}

.iBMijp {
  width: 100%;
  filter: brightness(98%);
}

.fCvNWX {
  grid-column-start: 2;
}

.fCvNWq{
  grid-column-start: 3;
}

.cphwvp {
  grid-column-start: 1;
  grid-row-start: 2;
}

.cphwas{
  grid-column-start: 2;
  grid-row-start: 2;
}
.cphwat{
  grid-column-start: 3;
  grid-row-start: 2;
}

.mdc-layout-grid__cell--span-8, .mdc-layout-grid__cell--span-8-desktop {
  width: auto;
  grid-column-end: span 8;
}

.fgnBhc {
  padding-top: 48px;
  padding-bottom: 128px;
  position: relative;
  z-index: 2;
}

.HrVCM {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background-color: var(--purewhite);
}

.form-group {
  margin-bottom: 1rem;
}

#loginForm .line-input {
  width:100%;
  border-top: 0px solid var(--purewhite);
  border-left: 1px solid var(--purewhite);
  border-right: 1px solid var(--purewhite);
  border-bottom: 2px solid var(--input-zapper);
  border-radius: 1px;
  color: var(--input-color-zapper);
  line-height: 35px;
}

#loginForm .line-input:focus{
  border-bottom:1px solid var(--blue-zapper);
  outline:0
}

#loginForm label {
  font-size: 15px;
  line-height: 21px;
  color:var(--form-label) ;
}

#login .no-highlight div{
  margin:16px 0 0;
  font-size:14px;
  line-height:20px
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;

  padding: 0.375rem 0px 0.75rem;
  font-size: 15px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

#login .btn-default {
  background: var(--blue-zapper);
  color: var(--purewhite);
  border-radius: 25px;
  width:100px;
}

.btn-new {
  background: var(--blue-zapper) !important;
  color: var(--purewhite);
  border-radius: 2px;
  height: 30px;
  font-size: 15px;
  width: 50px;
}
.btn-new-disabled{
  background: var(--blue-zapper-dis) !important;
  color: var(--purewhite);
  border-radius: 2px;
  height: 30px;
  font-size: 15px;
  width: 50px;
}

.btn-default, .btn-outline, .btn-primary, .btn-rounded {
  line-height: 20px;
}


#login .reveal-password {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  height: 70px;
}

.passFor{
  background-color: transparent;
  border: 0;
}

/////////////////

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
      font-style: inherit;
      font-variant-caps: inherit;
      font-weight: inherit;
      font-stretch: inherit;
      font-size: inherit;
      line-height: inherit;
      font-family: inherit;
      font-size-adjust: inherit;
      font-kerning: inherit;
      font-optical-sizing: inherit;
      font-variant-alternates: inherit;
      font-variant-east-asian: inherit;
      font-variant-ligatures: inherit;
      font-variant-numeric: inherit;
      font-variant-position: inherit;
      font-language-override: inherit;
      font-feature-settings: inherit;
      font-variation-settings: inherit;
  vertical-align: baseline;
}


.bHDFEb {
  transition: width 100ms cubic-bezier(0, 0, 0.2, 1) 0s;
}

.bHDFEb {
  background-color: var(--purewhite);
  overflow-x: hidden;
  width: 256px;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  z-index: 1000;
  border-right: 1px solid var(--col-kaggle-nav-border);
  flex-flow: column nowrap;
  display: flex;
}

.kIrMbp {
  overflow: hidden auto;
  -moz-box-flex: 1;
  flex-grow: 1;
}
.kpuSv {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  height: 64px;
}

.cKRnEE {
  background: transparent none repeat scroll 0% 0%;
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  -moz-box-align: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  box-sizing: border-box;
  z-index: 999;
  padding-left: 255px;
}

.iCIdtR {
  display: none;
  background:var(--purewhite) none repeat scroll 0% 0%;
  -moz-box-align: center;
  align-items: center;
  width: 256px;
  box-sizing: border-box;
  padding-right: 24px;
}


.TZTEY {
  margin-left: 12px;
}


.keRlOj {
  height: 48px;
  width: 48px;
  font-size: 24px;
  box-sizing: border-box;
  border: medium none;
  border-radius: 50%;
  outline: currentcolor none medium;
  background-color: transparent;
  color: var(--col-kaggle-btn-nav-col);
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  display: inline-flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
  padding: 0px;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 1;
}

button {
  appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(var(--pureblack), var(--purewhite));
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  background-color: -internal-light-dark(var(--kaggle-btn-bg-white),var(--kaggle-btn-bg-black));
  box-sizing: border-box;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(var(--kaggle-border-btn-one), var(--kaggle-border-btn-two));
  border-image: initial;
}

.gsTPqK {
  position: relative;
  top: 4px;
  margin-left: 8px;
}
.dNfjzh {
  width:100px;
}


.dNfjzh2 {
  width:300px;
  padding:5px;

}


.dHYhnw {
  position: relative;
  -moz-box-flex: 1;
  flex-grow: 1;
}

.cwwTpL {
  padding: 8px;
  display: none;
}

.iyLynJ {
  text-decoration: none;
}

.hLEAFZ {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  
  background-color:var(--kaggle-non-selected) ;
}

.hLEAFZ p {
  color:var(--kaggle-iysdf);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding-left: 20px;
}

.ljPFzl {
  color: var(--kaggle-iysdf);
  font-size: 30px;
  line-height: 22px;
  font-weight: bold;
  padding:10px;
  font-family: zeitung, sans-serif;
}
.dsqNyx.dsqNyx {
  color: var(--kaggle-non-selected-color);
  font-size: 24px;
  user-select: none;
}

.ctMBeP {
  color: var(--kaggle-non-selected-color);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 20px;
}

.kIwrRP.kIwrRP {
  height: 44px;
  padding: 0px 0px 0px 24px;
}

.kIwrRP {
  position: relative;
  -moz-box-align: center;
  align-items: center;
}

.kSauRZ {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 56px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--purewhite);
}

.kFpHGq {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-flex: 1;
  flex-grow: 1;
  -moz-box-pack: end;
  justify-content: flex-end;
  height: 100%;
}

.dEvZvv {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  flex-wrap: nowrap;
}

.UJOeB {
  background: var(--purewhite) none repeat scroll 0% 0%;
  box-sizing: border-box;
  padding: 4px 0px 4px 48px;
  display: inline-flex;
  -moz-box-flex: 1;
  flex-grow: 1;
  margin-right: 24px;
  transform: translateY(0%);
  transition: transform 0.5s ease 0s;
}
.hruVos {
  margin-right: 16px;
}

.UveTt {
  -moz-box-align: center;
  align-items: center;
  background-color:var(--kaggle-btn-bg-color) ;
  border-radius: 20px;
  border: medium none;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  padding: 0px 24px;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  width: -moz-fit-content;
}

.UveTt span {
  color: var(--purewhite);
}

.cyTXUp {
  color: var(--kaggle-sasdasd);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.hEwwUM {
  height: 48px;
  -moz-box-flex: 1;
  flex-grow: 1;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  background: var(--kaggle-banner) none repeat scroll 0% 0%;
  border-radius: 14px;
  cursor: text;
}

.FTRCN {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  margin-left: 12px;
  color: var(--kaggle-dhfine);
}
.fATUev {
  color: var(--kaggle-dhfine);
  margin-left: 16px;
}



@media (min-width: 1232px){
  .jWbQXn {
    margin-left: 256px !important;
}
}


.jWbQXn {
  margin-top: 30px;
  margin-left: 68px;
  height: calc(-64px + 100vh);
  overflow-y: scroll;
  position: relative;
}

.bBkMGo {
  box-sizing: border-box;
  padding-right: 48px;
  padding-left: 48px;
  margin: 32px 0px;
  max-width: 1246px;
}

.enJAMb {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 3px;
  background-color:var(--kaggle-iysdf);
  border: medium none;
  border-radius: 3px 0px 0px 3px;
}

.ktkvXl {
  display: flex;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
}

.jmgfEm {
  display: flex;
  flex-direction: column;
  -moz-box-pack: center;
  justify-content: center;
  max-width: 660px;
  width: 100%;
}

.fJMZgk {
  -moz-box-align: center;
  align-items: center;
  display: flex;
  min-height: 100%;
  flex-shrink: 0;
}

.iWxdZC {
  -moz-box-align: center;
  align-items: center;
  background-color: var(--kaggle-btn-bg-color);
  border-radius: 20px;
  border: medium none;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  padding: 0px 24px 0px 16px;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  width: -moz-fit-content;
}

.iWxdZCg {
  -moz-box-align: center;
  align-items: center;
  background-color: var(--kaggle-btn-bg-color);
  border-radius: 20px;
  border: medium none;
  cursor: pointer;
  display: inline-flex;
  height: 36px;
  margin-left: 15px;
  padding: 0px 24px 0px 24px;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
  width: -moz-fit-content;
}

.eRwgYP.eRwgYP {
  font-size: 18px;
}

.iWxdZC i {
  color: var(--purewhite);
  margin-right: 8px;
}
.iWxdZCg i {
  color: var(--purewhite);
  margin-right: 8px;
}

.iWxdZC {
  cursor: pointer;
  white-space: nowrap;
}
.cyTXUp {
  color: var(--purewhite);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

.joJvIt {
  color: var(--kaggle-iysdf);
  font-size: 36px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: zeitung, sans-serif;
}


.joJvIta {
  color: var(--kaggle-iysdf);
  font-size: 25px;
  line-height: 44px;
  font-weight: bold;
  margin-bottom: 8px;
  font-family: zeitung, sans-serif;
}

.fEpgeu {
  color: var(--kaggle-iysdf);
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

}

.eAKXEa {
  margin-bottom: 16px;
}

.eAKXEatwo {
  margin-top: 30px;
}

.hfuBqW {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--kaggle-table-outline);
  border-radius: 8px;
  max-height: max(85vh, 742px);
} 

.hfuBqWasd {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--kaggle-table-outline);
  border-radius: 8px;
  width:98.5%;
  max-height: max(85vh, 742px);
} 

.bwbMYl {
  display: flex;
  flex: 0 0 auto;
  margin: 24px;
  -moz-box-align: center;
  align-items: center;
}

.bwbMYlasd {
  display: flex;
  flex: 0 0 auto;
  margin: 10px;
  -moz-box-align: center;
  align-items: center;
}


.jPEnAY {
  color:var(--kaggle-iysdf);
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  flex: 1 1 auto;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.dnDHOZ {
  background-color: var(--kaggle-table-table-one) ;
  border-top: 1px solid  var(--kaggle-table-table-two);
  flex: 1 1 auto;
  overflow-x: auto;
  min-height: 550px;
  max-height: -moz-fit-content;
}

.dnDHOZTT {
  background-color: var(--kaggle-table-table-one) ;
  border-top: 1px solid  var(--kaggle-table-table-two);
  flex: 1 1 auto;
  overflow-x: auto;
  min-height: 200px;
  max-height: -moz-fit-content;
}

.dnDHOZXX {
  background-color: var(--kaggle-table-table-one) ;
  border-top: 1px solid  var(--kaggle-table-table-two);
  flex: 1 1 auto;
  overflow-x: auto;
  min-height: 200px;
  max-height: -moz-fit-content;
}
.gjvUWV {
  height: 0px;
}
.bzKand {
  top: 0px;
  z-index: auto;
}
.ekitij {
  border-bottom: 1px solid var(--kaggle-table-table-two);
  background-color: var(--purewhite);
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  width: -moz-fit-content;
}

.eorLMQ {
  font-size: 12px;
  border-right: 1px solid var(--kaggle-table-table-two);
  flex: 1 1 auto;
  padding: 8px 12px;
  color: var(--kaggle-non-selected-color);
  vertical-align: top;
  word-break: break-word;
  text-align: left;
  position: relative;
  width: 200px;
  min-width: 200px;
}

.eorLMQfirst {
  font-size: 12px;
  border-right: 1px solid var(--kaggle-table-table-two);
  border-left: 1px solid var(--kaggle-table-table-two);
  flex: 1 1 auto;
  padding: 8px 12px;
  color: var(--kaggle-non-selected-color);
  vertical-align: top;
  word-break: break-word;
  text-align: left;
  position: relative;
  width: 200px;
  min-width: 200px;
}

.eorLMQXLFirst {
  font-size: 12px;
  border-left: 1px solid var(--kaggle-table-table-two);
  border-right: 1px solid var(--kaggle-table-table-two);
  border-bottom: 1px solid var(--kaggle-table-table-two);
  flex: 1 1 auto;
  padding: 8px 12px;
  color: var(--kaggle-non-selected-color);
  vertical-align: top;
  word-break: break-word;
  text-align: left;
  position: relative;
  width: 200px;
  min-width: 200px;
}



.eorLMQXL {
  font-size: 12px;
  border-right: 1px solid var(--kaggle-table-table-two);
  border-bottom: 1px solid var(--kaggle-table-table-two);
  flex: 1 1 auto;
  padding: 8px 12px;
  color: var(--kaggle-non-selected-color);
  vertical-align: top;
  word-break: break-word;
  text-align: left;
  position: relative;
  width: 200px;
  min-width: 200px;
}

.eorLMQL {
  font-size: 12px;
  border-right: 1px solid var(--kaggle-table-table-two);
  flex: 0.1 0.1 auto;
  padding: 8px 12px;
  color: var(--kaggle-non-selected-color);
  vertical-align: top;
  word-break: break-word;
  text-align: left;
  position: relative;
  width: 10px;
  min-width: 10px;
}

.ibzIRN {
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 4px;
}

.ibzIRN {
  cursor: pointer;
}

.ibzIRNL {
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 8px;
}

.ibzIRNL {
  cursor: pointer;
}


.eRwlal.eRwlal {
  font-size: 16px;
}

.rQkfh {
  color: var(--kaggle-iysdf);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cMORXM.cMORXM {
  color:var(--kaggle-non-selected-color);
  font-size: 18px;
}
.ctsFoq {
  // width: fit-content;
}
.ctsFoq {
  // width: -moz-fit-content;
}

.dmEdIJ {
  color: var(--kaggle-sasdasd);
  font-family: "Roboto Mono", monospace;
  font-size: 12px;
  font-weight: 500;
  line-height: 40px;
}

.fbAYtQ {
  border-bottom: 1px solid var(--kaggle-table-table-two);
  background-color: var(--purewhite);
  display: flex;
  flex-direction: row;
}

.fbAYtQ div {
  border-right: 1px solid var(--kaggle-table-table-two);
  border-left: 1px solid var(--kaggle-table-table-two);
  border-top: 1px solid var(--kaggle-table-table-two);
  border-bottom: 1px solid var(--kaggle-table-table-two);
  flex: 1 1 auto;
  padding: 8px 12px;
  color: var(--kaggle-non-selected-colors);
  text-align: left;
  vertical-align: top;
  word-break: break-word;
  font-size: 12px;
  line-height: 16px;
  width: 200px;
  min-width: 200px;
}


.fbAYtQXL {
  border-bottom: 1px solid var(--kaggle-table-table-two);
  background-color: var(--purewhite);
  display: flex;
  flex-direction: row;
}

.fbAYtQXL div {
  border-right: 1px solid var(--kaggle-table-table-two);
  border-left: 1px solid var(--kaggle-table-table-two);
  border-bottom: 1px solid var(--kaggle-table-table-two);
  flex: 1 1 auto;
  padding: 8px 12px;
  color: var(--kaggle-non-selected-colors);
  text-align: left;
  vertical-align: top;
  word-break: break-word;
  font-size: 12px;
  line-height: 16px;
  width: 200px;
  min-width: 200px;
}

.fbAYtQTwo {
  border-bottom: 1px solid var(--kaggle-table-table-two);
  background-color: var(--purewhite);
  display: flex;
  flex-direction: row;
}

.fbAYtQTwo div {
  border-right: 1px solid var(--kaggle-table-table-two);
  flex: 0.5 0.5 auto;
  padding: 8px 12px;
  color: var(--kaggle-non-selected-colors);
  text-align: left;
  vertical-align: top;
  word-break: break-word;
  font-size: 14px;
  line-height: 16px;
  width: 110px;
  min-width: 10px;
}

.fbAYtQ  div.number{
  text-align: right;
}




.content-box__title-bar {
  box-sizing: border-box;
  height: 48px;
  width: auto;
  background-color: var(--kaggle-content-box__title-bar_white);
  border: 1px solid var(--kaggle-content-box__title-bar_border);
      border-bottom-color: var(--kaggle-new-other-white);
  border-bottom-color: var(--kaggle-content-box__title-gr-two);
  border-radius: 4px 4px 0 0;
  padding: 8px 24px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.content-box__content-section {
  font-family: Inter,sans-serif;
  border-radius: 0 0 4px 4px;
  border: 1px solid var(--kaggle-content-box__title-bar_border);
      border-top-color: var(--kaggle-new-other-white);
      border-top-style: solid;
      border-top-width: 1px;
  border-top: none;
  box-sizing: border-box;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 400;
  min-height: 40px;
  width: auto;
}

.content-box__content-section-two {
  font-family: Inter,sans-serif;
  border-radius: 0 0 4px 4px;
  border: 1px solid var(--kaggle-content-box__title-bar_border);
      border-top-color: var(--kaggle-new-other-white);
      border-top-style: solid;
      border-top-width: 1px;
  border-top: none;
  box-sizing: border-box;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 400;
  height: 158px;
  width: auto;
}

.hMwprG {
  flex: 1 1 auto;
  align-self: center;
  overflow: hidden;
  text-align: left;
  max-width: 100%;
  font-family: "Inter", sans-serif;
  color: var(--col-kaggle-new-black-two);
  font-weight: 500;
  font-size: 16px;
}

.jyecGH {
  position: relative;
  color: var(--kaggle-dhfine);
}

.competition-overview__teasers {
  display: flex;
  margin-bottom: -20px;
  margin-top: -20px;
}


.competition-overview__teasers_two {
  // display: flex;
  margin-bottom: -20px;
  margin-top: -20px;
  padding: 0;
}

.competition-overview__teaser {
  display: flex;
  flex: 1 0 13%;
  flex-direction: column;
  margin-right: 20px;
  height:250px;
  min-width: 0;
}



.competition-overview__teaser-two {
  display: flex;
  background-color: black;
  flex-flow: column wrap;
  margin-right: 5px;
  min-width: 0;
  flex-grow: 1;
  align-content: center;
}

.content-box {
  background-color: var(--purewhite);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--kaggle-content-box-kjsd);
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 24px;
  margin-top: 24px;
  min-height: 48px;
  position: relative;
  width: 100%;
}

.content-box-3 {
  background-color: var(--purewhite);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--kaggle-content-box-kjsd);
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 24px;
  margin-top: 24px;
  margin-left: 220px;
  min-height: 48px;
  position: relative;
  width: 60%;
}

.content-box-two {
  background-color: var(--purewhite);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--kaggle-content-box);
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 24px;
  margin-top: 24px;
  min-height: 48px;
  position: relative;
  width: 100%;
  
}

.content-box-three {
  background-color: var(--purewhite);
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--kaggle-content-box);
  display: flex;
  flex-flow: column nowrap;
  height: auto;
  justify-content: flex-start;
  margin-bottom: 24px;
  margin-top: 24px;
  min-height: 48px;
  position: relative;
  width: 200%;
}


.content-box--grow {
  flex-grow: 1;
}

.kernels-teaser__item, .kernels-teaser__items {
  display: flex;
  flex-direction: column;
}

.teaser-list {
  font-family: Inter,sans-serif;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  color: var(--kaggle-content-box-kjsdj);
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
  font-size: 14px;
  font-weight: 400;
  padding: 8px 0;
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}


.block-link--bordered {
  border-color: transparent;
  border-style: solid;
  height:30px;
  border-width: 1px 0;
}

.block-link--bordered-two {
  border-color: transparent;
  border-style: solid;
  height:15px;
  border-width: 1px 0;
}


.block-link {
  position: relative;
}

.content-box__title-bar--link {
  color: var(--kaggle-iysdf);
  text-decoration: none;
  cursor: pointer;
}



.kernels-teaser__item:last-child {
  margin-bottom: 0;
}

.kernels-teaser__item {
  margin-bottom: 10px;
  padding: 14px 20px;
  text-align: left;
}

.kernels-teaser__item-title {
  text-decoration: none;
  color:var(--kaggle-iysdf);
  cursor: pointer;
  font-weight: 600;
  line-height: 1.25;
  font-size: 16px;
  margin-bottom: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.kernels-teaser__item-title-3 {
  text-decoration: none;
  color:var(--kaggle-iysdf);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.25;
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: 50px;
  overflow-wrap: break-word;
  text-align: left;
}
.gfir{
  margin-left: 15px;
}

.kernels-teaser__item-title span {
  color: var(--kaggle-new-black);
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}
.marginnew{
  margin-top: 10px;
}

.gYnjXV {
  font-family: "Inter", sans-serif;
  display: inline-flex;
}
.xHXbB {
  margin-left: 8px;
  margin-right: 0px;
  cursor: pointer;
}

i.blue{
  color:var(--blue-zapper);
}

i.blue-dis{
  color:var(--blue-zapper-dis);
}

.prog{
  width:20px
}

.asset-image-preview {
  max-height: 1000px;
  height: 100%;
  object-fit: contain;
}
.competition-overview__nav-content-container {
    display: flex;
}

.competition-overview__wrapper {
  border-right: 1px solid var(--kaggle-content-box-new-gr);
}

.competition-overview__nav-wrapper {
  position: sticky;
  top: 44px;
  width: 200px;
}
.competition-overview__nav-wrapper {
  flex: 0 0 200px;
}

.competition-overview__nav {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 0 24px;
}

.competition-overview__nav-item {
  box-sizing: border-box;
  color: var(--pureblack);
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  padding: 8px 24px;
  text-decoration: none;
  text-transform: capitalize;
  width: 100%;
  transition: all .1s ease;
}
.competition-overview__nav-item:first-child {
  margin-left: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.competition-overview__nav-item:hover {
  color: var(--link);
  cursor: pointer;
  text-decoration: none;
}

.competition-overview__content {
  flex: 1 1 0;
  margin: 24px 24px 32px;
  min-width: 0;
}

.tab-pane{
  display: none;
}

.active{
  display: block;
}

.markdown-converter__text--rendered {
  font-family: Inter,sans-serif;
  box-sizing: border-box;
  color: var(--kaggle-new-black);
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  // max-width: 100%;
  position: relative;
  // word-break: break-word;
}

.competition-overview__nav-item--selected {
  background: var(--link-bg);
}

.competition-overview__nav-item--selected {
  color: var(--link-two);
  position: relative;
  text-decoration: none;
  text-transform: capitalize;
}
.competition-overview__nav-item--selected::after {
  background:var(--link);
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
}

.row {
  margin-top:10px
}


.header {
  font-family: Inter,sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.p {
  font-family: Inter,sans-serif;
  font-size: 14px;
}

.border{
  border: 0.5px solid var(--kaggle-new-gr); 
  padding: 25px;
  border-radius: 8px;
  margin-left: 5px;
}


.competition-overview__stats-section {
    display: flex;
}

.competition-overview__stats {
  background-color: var(--purewhite);
  border: 1px solid var(--kaggle-new-gr);
  border-radius: 4px;
  padding: 30px;
  width:50%;
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-basis: 35 0 0;
  margin-right: 20px;
}

.mafinbr{
  margin-top:100px;
  margin-left: 0px;
}

.fjuxJx.fjuxJx {
    height: 44px;
    padding: 0px 0px 0px 24px;
}
.fjuxJx {
    cursor: pointer;
    position: relative;
    -moz-box-align: center;
    align-items: center;
}

.eEgcmk {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
}

.cMONfX.cMONfX {
    color: rgb(95, 99, 104);
    font-size: 24px;
    user-select: none;
}

.fzgPFD {
    color: rgb(95, 99, 104);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    padding-left: 20px;
}

.jyKJRd {
    box-sizing: border-box;
    padding: 0px 24px;
    position: relative;
}

.jItBJu {
    text-decoration: none;
}

.fQBxZa.fQBxZa {
    height: 36px;
    padding: 0px 0px 0px 52px;
}

.fQBxZa {
    position: relative;
    -moz-box-align: center;
    align-items: center;
}

.jZGJoz {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.km-list--dense .jZGJoz {
    height: 40px;
}

.jntcrC {
    color: rgb(95, 99, 104);
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-left: 16px;
}


.content-box__content-section_two {
  font-family: Inter,sans-serif;
  border-radius: 0 0 4px 4px;
  border: 1px solid #dedfe0;
      border-top-color: rgb(222, 223, 224);
      border-top-style: solid;
      border-top-width: 1px;
  box-sizing: border-box;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 400;
  min-height: 40px;
  width: auto;
  height: 500px;
}

.content-box__content-section_three {
  font-family: Inter,sans-serif;
  border-radius: 0 0 4px 4px;
  border: 1px solid #dedfe0;
      border-top-color: rgb(222, 223, 224);
      border-top-style: solid;
      border-top-width: 1px;
  box-sizing: border-box;
  flex: 1 0 auto;
  font-size: 14px;
  font-weight: 400;
  min-height: 40px;
  width: auto;
  height: 900px;
}