<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-12 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li>
                <a class="borrolink" onclick={{action "discardroute"}}>
                  Data Format
                </a>
              </li>
              <li class="breadcrumb-item active">
                View
              </li>
            </ol>
          </div>
          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
              </p>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa">
            <div class="competition-overview__teasers">
              <div class="competition-overview__teaser">
                <div class="content-box-3 content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      ></div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      <div class="row block-link block-link--bordered">
                        <div class="kernels-teaser__item-title-3">
                          <div class="col-sm-12">
                            For Mention Analytics C-Net requires requires data in the following format
                          </div>
                        </div>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <div class="col-sm-12">
              <div class="content-box__content-section_two">
                <div class="col-sm-12">
                  <br />
                  <div class="sc-jCCNBi dnDHOZ">
                    <div class="sc-jNfLxA gjvUWV"></div>
                    <div class="sc-kIFxrv bzKand">
                      <div class="sc-kIPIUN ctsFoq">
                        <div class="sc-jCmwxO ekitij">
                          <div class="sc-jHVFih sc-khKixi eorLMQfirst">
                            <div class="sc-jwDLgl ibzIRN">
                              <i
                                sizevalue="12px"
                                class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                              >
                                text_format
                              </i>
                              <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                                SN
                              </span>
                              <i
                                color="#5F6368"
                                sizevalue="18px"
                                class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                              >
                                sort
                              </i>
                            </div>
                          </div>
                          <div class="sc-jHVFih sc-khKixi eorLMQ">
                            <div class="sc-jwDLgl ibzIRN">
                              <i
                                sizevalue="12px"
                                class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                              >
                                text_format
                              </i>
                              <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                                Field
                              </span>
                              <i
                                color="#5F6368"
                                sizevalue="18px"
                                class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                              >
                                sort
                              </i>
                            </div>
                          </div>
                          <div class="sc-jHVFih sc-khKixi eorLMQ">
                            <div class="sc-jwDLgl ibzIRN">
                              <i
                                sizevalue="12px"
                                class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                              >
                                text_format
                              </i>
                              <span class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh">
                                Description
                              </span>
                              <i
                                color="#5F6368"
                                sizevalue="18px"
                                class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                              >
                                sort
                              </i>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            1
                          </div>
                          <div>
                            Name
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>
                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            2
                          </div>
                          <div>
                            Username
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>
                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            3
                          </div>
                          <div>
                            Description
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>
                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            4
                          </div>
                          <div>
                            Location
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>
                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            5
                          </div>
                          <div>
                            Followers
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>

                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            6
                          </div>
                          <div>
                            Number Statuses
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>

                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            7
                          </div>
                          <div>
                            Time
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>
                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            8
                          </div>
                          <div>
                            Posts
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>
                      <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                        <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                          <div>
                            9
                          </div>
                          <div>
                            Network Name
                          </div>
                          <div>
                            NA
                          </div>
                        </div>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>