<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-12 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li>
                <a class="borrolink">
                  Home
                </a>
              </li>
              <li class="breadcrumb-item active">
                  View
              </li>
            </ol>
          </div>
          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
                
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
              </p>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa eAKXEatwo">
            <div class="col-sm-4"></div>
            <div class="col-sm-8">
              <img alt="" src="/assets/logo2.png" class="sc-plgA-D dNfjzh2" />
            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>