<main>
  <div id="site-container">
    <div
      style="--mdc-theme-on-primary:#fff; --mdc-theme-on-surface:rgba(0, 0, 0, 0.87); --mdc-theme-text-primary-on-background:rgba(0, 0, 0, 0.87); --mdc-theme-text-secondary-on-background:rgba(0, 0, 0, 0.54); --mdc-theme-text-hint-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-disabled-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-text-icon-on-background:rgba(0, 0, 0, 0.38); --mdc-theme-primary:#20BEFF; --mdc-theme-error:#F58B8A; --mdc-theme-background:#F8F8F8; --mdc-theme-surface:#fff; --mdc-theme-primary-bg:#20BEFF; --mdc-theme-secondary-bg:#919294;"
    >
      {{#nav-top-main label="Search" symbol="search"}}{{/nav-top-main}}
      {{#nav-bar-new}}{{/nav-bar-new}}
      <div id="site-content" class="sc-pBmid jWbQXn">
        <div class="Dataset_Wrapper-sc-isllmh bBkMGo">
          <div class="col-12 col-sm-12 col-xs-12 mainpanel">
            <ol class="breadcrumb" role="navigation">
              <li>
                <a class="borrolink" onclick={{action "discardroute"}}>
                  Histogram
                </a>
              </li>
              <li class="breadcrumb-item active">
                View
              </li>
            </ol>
          </div>
          <div class="sc-khejCx ktkvXl" wrap="wrap">
            <div class="sc-jxjKaW jmgfEm">
              <h1 class="sc-fznKkj sc-fznZeY sc-pTDWx joJvIt">
              </h1>
              <p class="sc-fzoyTs sc-fzoNJl sc-qbAJQ fEpgeu">
              </p>
            </div>
          </div>
          <div class="DatasetList_BannerWrapper-sc-1be6zyh eAKXEa">
            <div class="competition-overview__teasers">
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      ></div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      <div class="row block-link block-link--bordered">
                        <div class="kernels-teaser__item-title">
                          <div class="col-sm-2 gfir">
                            Min Value
                          </div>
                          <div class="col-sm-3">
                            {{input
                              class="form-control required-two-rt"
                              multiple=""
                              data-selection-required="1"
                              value=minvalue
                            }}
                          </div>
                          <div class="col-sm-2 gfir">
                            Max value
                          </div>
                          <div class="col-sm-4">
                            {{input
                              class="form-control required-two-rt"
                              multiple=""
                              data-selection-required="1"
                              value=maxvalue
                            }}
                          </div>
                        </div>
                        <br />
                        <div class="kernels-teaser__item-title">
                          {{#object-row-selection
                            modelname="network"
                            keyaccess="networkname"
                            label="Network"
                            data=network
                          }}{{/object-row-selection}}
                        </div>
                        <br />
                        <div class="kernels-teaser__item-title">
                          <div class="col-sm-9">
                          </div>
                          <div class="col-sm-1">
                            <button
                              class="sc-fzpkqZ iWxdZC"
                              tabindex="0"
                              role="button"
                              onclick={{
                                action "filter" maxvalue minvalue network
                              }}
                            >
                              <i
                                sizevalue="18px"
                                class="rmwc-icon google-material-icons sc-AxgMl eRwgYP"
                              >
                                directions_run
                              </i>
                              <span class="sc-fzoxKX sc-fzoKki cyTXUp">
                              </span>
                            </button>
                          </div>
                        </div>
                      </div>
                      <br />
                    </div>
                  </div>
                </div>
              </div>
              <div class="competition-overview__teaser">
                <div class="content-box content-box--grow">
                  <div class="content-box__title-bar--link">
                    <div class="content-box__title-bar">
                      <div
                        style="line-height: 46px;"
                        class="ContentBox_Title-sc-6fbrxj hMwprG"
                      ></div>
                    </div>
                  </div>
                  <div
                    class="content-box__content-section kernels-teaser__items"
                  >
                    <div class="teaser-list teaser-list--4-item-height">
                      <div class="col-sm-12">
                        <div class="sc-jCCNBi dnDHOZTT">
                          <div class="sc-jNfLxA gjvUWV">
                            <div class="sc-kIFxrv bzKand">
                              <div class="sc-kIPIUN ctsFoq">
                                <div class="sc-jCmwxO ekitij">
                                  <div class="sc-jHVFih sc-khKixi eorLMQfirst">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        Network
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>

                                  <div class="sc-jHVFih sc-khKixi eorLMQ">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                        grid_3x3
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        Total
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>

                                  <div class="sc-jHVFih sc-khKixi eorLMQ">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                        grid_3x3
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        Mean
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>
                                  <div class="sc-jHVFih sc-khKixi eorLMQ">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                        grid_3x3
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        STD
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>

                                  <div class="sc-jHVFih sc-khKixi eorLMQ">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                        grid_3x3
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        Min
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>

                                  <div class="sc-jHVFih sc-khKixi eorLMQ">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                        grid_3x3
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        25% Quantile
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>

                                  <div class="sc-jHVFih sc-khKixi eorLMQ">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                        grid_3x3
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        50% Quantile
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>

                                  <div class="sc-jHVFih sc-khKixi eorLMQ">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                        grid_3x3
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        75% Quantile
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>

                                  <div class="sc-jHVFih sc-khKixi eorLMQ">
                                    <div class="sc-jwDLgl ibzIRN">
                                      <i
                                        sizevalue="12px"
                                        class="rmwc-icon google-material-icons sc-AxgMl eRwlal"
                                      >
                                        grid_3x3
                                      </i>
                                      <span
                                        class="sc-fznzOf sc-fznMnq sc-jBFkLo rQkfh"
                                      >
                                        Max
                                      </span>
                                      <i
                                        color="#5F6368"
                                        sizevalue="18px"
                                        class="rmwc-icon google-material-icons sc-AxgMl cMORXM"
                                      >
                                        sort
                                      </i>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div>
                              <span class="sc-fzqAbL sc-fzqMAW dmEdIJ">
                                {{#each graphstats as |graphstat|}}
                                  <div class="sc-jCmwxO sc-kNYnxC fbAYtQ">
                                    <div>
                                      {{graphstat.networkname}}
                                    </div>
                                    <div class="number">
                                      {{graphstat.totalcnt}}
                                    </div>
                                    <div class="number">
                                      {{graphstat.mean}}
                                    </div>
                                    <div class="number">
                                      {{graphstat.std}}
                                    </div>
                                    <div class="number">
                                      {{graphstat.min}}
                                    </div>
                                    <div class="number">
                                      {{graphstat.firstquantile}}
                                    </div>
                                    <div class="number">
                                      {{graphstat.secondquantile}}
                                    </div>
                                    <div class="number">
                                      {{graphstat.thirdquantile}}
                                    </div>
                                    <div class="number">
                                      {{graphstat.max}}
                                    </div>
                                  </div>
                                {{/each}}
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <br />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="col-sm-12">
              <div class="content-box__content-section_two">
                <div class="col-sm-12">
                  <div id="container" style="width:100%; height:400px;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>